.green {
    background-color: rgb(2, 197, 2);
}
.grey {
    background-color: rgb(172, 172, 172);
}
.current {
    background-color: rgb(148, 175, 255);
}
.time {
    border-top: solid black;
    border-right: solid black;
    border-width: 2px;
    border-bottom: black;
}
.submit {
    background-color: blueviolet;
}
body {
    margin: auto;
}
.row {
    height: 100px;
    margin-bottom: 2px;
    margin-right: 50px;
    margin-left: 50px;
}